/*
-- COPYRIGHT  -------------------------------------------------------------------------

All rights reserved

-- NOTES ------------------------------------------------------------------------------

-- CHANGELOG --------------------------------------------------------------------------

190718\s.zaglio: 1st draft

-- TODO -------------------------------------------------------------------------------

*/
@-ms-viewport { width: device-width; }

* {
    font-size: medium;
    font-family: Tahoma;
    line-height: 140%;
}

@media print and (orientation: landscape) {
    * {
        line-height: 120%;
    }
}

@media print { 
    .noprint { 
        display: none ! important; 
    }

    .nowrap {
        white-space: nowrap;
    }
    roles table tbody tr td:first-child {
        white-space: nowrap;
    }

}

@media screen {
    body {
        opacity: 0;
    }
    body.fade-in {
        opacity: 1;
        transition: 0.6s opacity;
    }
}

@media screen and (min-width: 1000px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

pictures {
    display: inline-block;
    width: 100%;
} 

p span 
{
    display: inline-block;
}

@media print {
    images {
        text-align: right;
    }
    .xs-screen {
        display:none;
    }
    personal-info {
        min-width: 50%;
        display: inline-block;
        float:left;
    }
    images {
        width: 50%;
        display: inline-block;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    roles table tbody tr td:first-child {
        white-space: nowrap;
    }
    .full-list {
        text-align: right;
    }
    .xs-screen {
        display:none;
    }
    personal-info {
        min-width: 50%;
        display: inline-block;
        float:left;
    }
    images {
        width: 50%;
        display: inline-block;
        text-align: center;
    }
}

@media screen and (max-width: 599px) {
    roles table tbody tr td:first-child {
        text-align: center;
    }
    header {
        width: 100%;
        text-align: center;
    }
    persona-info {
        width:100%;
    }
    .full-list {
        text-align: center;
    }
    .normal-screen {
        display:none;
    }
    images {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}

#lang {
	float: right;
	height: 2ch;
}

header {
    width: 100%;        
}

thead * {
    color: #ddd;
    background-color: darkgray;
    font-weight: bold;
    text-align: left;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 3px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
    border-spacing: 10px;
    padding: 5;
}

td {
	padding: 2px;
	vertical-align: middle;
}


a {
	word-wrap: break-word;
}

body {
	margin:4px;
	background-color:#ffffff;
	color:#000000;
}

:link {
    color: #663399 !important;
    text-decoration: none;
}

:visited {
    color: #999933 !important;
    text-decoration: none;
}

:active {
    color: #999933 !important;
    text-decoration: none;
}

p {
    padding: 2px;
    margin: 0px;
}

row {
    display: block;
}

content {
    display: block;
}

legend {
    background-color: #ddd;
    font-weight: bold;
    text-align: left;
    display: block;
    padding: 6px 2px 2px 2px;
    /*margin-top: 4px; doesn't work well into table headers */
    /*white-space: nowrap;*/
    color: black;
}

contact-info {
    width: 100%;
    display: block;
    text-align: justify;
}

personal-info span {
    font-size: small;
}

personal-info img {
    width:1em;
}

/* recruiter */
images button {
    color: white;   
    background-color: #607d8b;
    outline:0;
    border:0;
}

faces p {
    white-space: nowrap;
    text-align: justify;
}

photo img {
    width:50%;
}

briefly {
    display: block;
    text-align: justify;
}

.today {
    padding-bottom: 4px;
    padding-top: : 4px;
}

experiences {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

experiences p {
    display: inline-block;
}

.bglegend {
    background-color: #ddd;
    font-weight: bold;
    padding: 3px;
}

choice {
    display: inline-flex;
}

.bold {
    font-weight: bold;
}

.bbottom {
    border-bottom-color: #c7c7c7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.tleft {
    text-align: left !important;
}

.tright {
    text-align: right !important;
}

.tjustify {
    text-align: justify !important;
}

.full-list {
    font-style: italic;   
}

.hidden {
    display: none;
}

products, photo {
    text-align: center; /*left;*/
    padding: 4px;
}

pictures img {
    display: inline-block;
    height: 8em;
}

products p {
    display: inline-block;
}

platforms {
    display: inline-block;
    min-width: 50%;
    vertical-align: top;
}

platforms * {
    text-align: right;
}

group {
    display: block;
    width: 100%;
}

game-developer, technician, expert {
    text-align: center;
} 

game-developer img, technician img, expert img {
    width: 60%;
} 

extra-activities, acquired-skills, privacy {
    display: block;
}

extra-activities {
    text-align: justify;
}

acquired-skills {
    text-align: justify;
}

privacy {
    text-align: center;
}
